@charset "UTF-8";

body {
    background-color: #94EBA4;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #1A7A3D;
}


#principal{
    font-size: 2.5em;
    text-align: center;
    background-color:#456E4D;
    color: #75BA82;
}




h2.basico {
    color:#0F4724;
    font-weight: bold;
}

h2.intermediario{
    color: #0ac519;
}

h2.avancado{
    color: #297e02;
}